<header>
  <div class="thanks"> </div>
  <div>
    <h1 class="text-center"> Thank you for registering.</h1> <br>

    <h4 class="text-center"> Soon you will be able to set up language exchanges with others near you.</h4>


  </div>
</header>
